<section class="detalles_main"  >
  <div class="imagen">
    <img [src]="sharedData" alt="">
  </div>
  <div class="info" *ngFor=" let breed of breeds">
    <h3>{{breed.name}}</h3>
    <p class="desc">{{breed.description}}</p>
     <p><strong>Temperament:</strong>{{breed.temperament}}</p> 
     <p><strong>Origin:</strong>{{breed.origin}}</p> 
     <p><strong>Life Span:</strong>{{breed.life_span}}</p> 
     <div class="level">
      <p><strong>Adaptability:</strong></p>
      <div  *ngFor="let elemento of elementos; let i=index" [ngClass]="{'fondo': i < breed.adaptability}" class="barra fondo-barra" >
      </div>
     </div>
     <div class="level">
      <p><strong>Affection level:</strong></p>
      <div  *ngFor="let elemento of elementos; let i=index" [ngClass]="{'fondo': i < breed.affection_level}" class="barra fondo-barra" >
      </div>
     </div>
     <div class="level">
      <p><strong>Child Friendly:</strong></p>
      <div  *ngFor="let elemento of elementos; let i=index" [ngClass]="{'fondo': i < breed.child_friendly
    }" class="barra fondo-barra" >
      </div>
     </div>
     <div class="level">
      <p><strong>Grooming:</strong></p>
      <div  *ngFor="let elemento of elementos; let i=index" [ngClass]="{'fondo': i < breed.grooming
    }" class="barra fondo-barra" >
      </div>
     </div>
     <div class="level">
      <p><strong>Intelligence:</strong></p>
      <div  *ngFor="let elemento of elementos; let i=index" [ngClass]="{'fondo': i < breed.intelligence
    }" class="barra fondo-barra" >
      </div>
     </div>
     <div class="level">
      <p><strong>Health issues:</strong></p>
      <div  *ngFor="let elemento of elementos; let i=index" [ngClass]="{'fondo': i < breed.health_issues
    }" class="barra fondo-barra" >
      </div>
     </div>
     <div class="level">
      <p><strong>Social needs:</strong></p>
      <div  *ngFor="let elemento of elementos; let i=index" [ngClass]="{'fondo': i < breed.social_needs
    }" class="barra fondo-barra" >
      </div>
     </div>
     <div class="level">
      <p><strong>Stranger friendly:</strong></p>
      <div  *ngFor="let elemento of elementos; let i=index" [ngClass]="{'fondo': i < breed.stranger_friendly
    }" class="barra fondo-barra" >
      </div>
     </div> 
   </div>
</section>
<section class="section2">
  <h3>Other photos</h3>
  <div class="images" >
    <img [src]="image" *ngFor="let image of images.image_urls" alt="imagen de gatos">
  </div>
</section>
